<h1>Hair Salon</h1>
<h2>@Model["stylist"].GetName()'s Client List</h2>

<ul>
@if (Model["clients"].Count != 0)
{
  @foreach (var client in Model["clients"])
  {
    <li>@client.GetName()</li>
  }
}
else
{
  <p>No stylists.</p>
}
</ul>

<h3>Add new client:</h3>
<form action='/stylists/@Model["stylist"].GetId()/clients/new' method='post'>
  <label for="clientName">Client Name:</label>
  <input name="clientName">
  <input value=@Model["stylist"].GetId()>
  <button type="submit">Add new cient!</button>
</form>
<!-- <h3>Delete one of @Model["stylist"].GetName()'s clients:</h3>
<form action="/clients/delete/" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <select name="clientName">
    @foreach (var client in Model["clients"])
    {
      <option value=@client.GetId()>@client.GetName()</option>
    }
  </select>
  <button type="submit">Remove</button>
</form>
<h3>Edit one of @Model["stylist"].GetName()'s clients:</h3>
<form action="/clients/edit/" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <select name="cuisineName">
    @foreach (var client in Model["clients"])
    {
      <option value=@client.GetId()>@client.GetName()</option>
    }
  </select>
  <button type="submit">Edit</button>
</form> -->


<a href="/">Return to home</a>
